.github_modal.modal.hide.fade(tabindex="-1")
  .modal-header
    %button.close(type='button' data-dismiss="modal")
    %h3 Log in with GitHub

  .modal-body
    %label
      %input.username(type='text' placeholder='GitHub user name')
    %label
      %input.password(type='password' placeholder='GitHub password')
    %label
      %input.project_name(type='text' placeholder='Project Name')

  .modal-footer
    %button.btn(data-dismiss='modal') Close
    %button.btn.btn-primary.github_login(data-bind="click: createProject") Login
