= partial :gist_selection

%section.content
  .row-fluid
    .scripts
      %h2.brand Airscript
      %label(data-bind='visible: scriptsPanel.hasGists')
        %p.gist-description(type='text' data-bind='text: scriptsPanel.activeGistDescription()')
      %ul.files(data-bind='foreach: scriptsPanel.activeScripts()')
        %li.script(data-bind='css: activeClass')
          %span.script_name(data-bind='click: $parent.scriptsPanel.editScript, text: name')
      %a.new_file(href='#' data-bind='click: scriptsPanel.createNewFile') Create New File

      .btn-group.script_controls
        .btn-toolbar
          .btn(data-toggle="modal" data-target=".gist_modal") Set Target

    .edit.main
      .airscript_background
      .editor_container
        .header
          %h3(data-bind='text: scriptName()')
          .full_url
            .clipboard(data-bind='attr: {"data-clipboard-text": fullScriptPath}')
            = partial :clipboard_svg
            .location(data-bind='text: fullScriptPath')
        #editor(data-bind="ace: source, aceOptions: { mode: 'lua', theme: 'github' }")

        %textarea.hidden(data-bind="value: source")

:coffeescript
  Airscript.init()
