= partial :gist_selection

%section.content
  .row-fluid
    .scripts
      %h2.brand Airscript
      %label.login-container
        %span.login-info Logged in as mdiebolt
        = "| "
        %a.logout-link Logout
      %label(data-bind='visible: scriptsPanel.hasGists')
        %p.gist-description(type='text' data-bind='text: scriptsPanel.activeGistDescription()')
      %ul.files(data-bind='foreach: scriptsPanel.files()')
        %li.script(data-bind='css: activeClass, click: $parent.scriptsPanel.selectScript')
          %span.script_name(data-bind='text: name')

      %a.new_file(href='#' data-bind='click: scriptsPanel.createNewFile') Create New File

      .btn-group.script_controls
        .btn-toolbar
          .btn(data-toggle="modal" data-target=".gist_modal") Open Project

    .edit.main
      .airscript_background
      .editor_container
        .header
          .file
            %a.fullscreen.btn(data-bind="click: toggleFullscreen")
              %i.icon-resize-full
            .dropdown
              %a.btn.link.dropdown-toggle(data-bind="click: selectFullPath" data-toggle='dropdown' href='#')
                %i.icon-globe
              %ul.dropdown-menu(role='menu')
                %li.script_path(data-bind="attr: {'data-clipboard-text': fullScriptPath}")
                  %input.full_script_path(data-bind='value: fullScriptPath')
            %input.edit_script(data-bind='visible: scriptEditing(), selected: true, value: scriptName(), event: { keypress: scriptsPanel.stopEditing }')
            %h3(data-bind='text: scriptName(), visible: !scriptEditing()')

          .btn-group.script_actions
            %button.btn.save_all(data-bind='click: scriptsPanel.updateGist, visible: scriptsPanel.hasScripts()' title='Save script')
              %i.icon-hdd
            %button.btn(data-bind='click: scriptsPanel.editScript, visible: scriptsPanel.hasScripts()' title='Edit script name')
              %i.icon-pencil
            %button.btn(data-bind= 'click: scriptsPanel.deleteScript, visible: scriptsPanel.hasScripts()' title='Delete script')
              %i.icon-trash

        #editor(data-bind="ace: scriptSource(), aceOptions: { mode: 'lua', theme: 'github' }")

        %textarea.hidden(data-bind="value: scriptSource()")

:coffeescript
  Airscript.init()
