= partial :gist_selection

%section.content
  .row-fluid
    .scripts
      %h2.brand Airscript
      %label(data-bind='visible: scriptsView.gists().length')
        %h5 Script Description
        %textarea(type='text' data-bind='value: scriptsView.activeGistDescription()')
      %h5(data-bind='visible: scriptsView.scripts().length') Files
      %ul.files(data-bind='foreach: scriptsView.scripts')
        %li
          %a(href='#' data-bind='text: name, click: $parent.scriptsView.editScript, visible: !$parent.scriptsView.editingActiveScript()')
          %input(type='text' data-bind='value: name, click: $parent.scriptsView.selectScript, visible: $parent.scriptsView.editingActiveScript()')
      %a.new_file(href='#' data-bind='click: scriptsView.createNewFile') Create New File

      .btn-group.script_controls
        .btn-toolbar.not_implemented
          .btn Environment
        .btn-toolbar
          .btn(data-toggle="modal" data-target=".gist_modal") Set Target
        .btn-toolbar.not_implemented
          .btn Deploy

    .edit.main
      .airscript_background
      .btn.btn-primary.save-script(data-bind='click: saveScript') Save
      .full_url
        .clipboard(data-bind='attr: {"data-clipboard-text": fullScriptPath}')
          %svg#Layer_1{"enable-background" => "new 0 0 24 24", :height => "24px", :version => "1.1", :viewbox => "0 0 71 100", :width => "24px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
            %path{:d => "M70,7.583H56.625V5.961c0-0.55-0.45-1-1-1H43.443V2c0-1.1-0.9-2-2-2H29.557c-1.1,0-2,0.9-2,2v2.961H15.375  c-0.55,0-1,0.45-1,1v1.623H1c-0.55,0-1,0.45-1,1V99c0,0.55,0.45,1,1,1h69c0.55,0,1-0.45,1-1V8.583C71,8.034,70.55,7.583,70,7.583z   M35.5,2.319c1.094,0,1.981,0.887,1.981,1.98c0,1.094-0.888,1.981-1.981,1.981c-1.094,0-1.981-0.887-1.981-1.981  C33.519,3.206,34.406,2.319,35.5,2.319z M63.495,92.395c0,0.55-0.45,1-1,1H8.505c-0.55,0-1-0.45-1-1V15.188c0-0.55,0.45-1,1-1h5.87  v1.669c0,0.55,0.45,1,1,1h40.25c0.55,0,1-0.45,1-1v-1.669h5.87c0.55,0,1,0.45,1,1V92.395z"}
            %rect{:height => "2.375", :width => "38.125", :x => "14.375", :y => "25.5"}
            %rect{:height => "2.375", :width => "38.125", :x => "14.375", :y => "31.625"}
            %rect{:height => "2.375", :width => "29.125", :x => "14.375", :y => "37.75"}
            %rect{:height => "2.375", :width => "38.125", :x => "14.375", :y => "50"}
            %rect{:height => "2.375", :width => "38.125", :x => "14.375", :y => "56.125"}
            %rect{:height => "2.375", :width => "29.125", :x => "14.375", :y => "62.25"}
        .location(data-bind='text: fullScriptPath')
      .editor_container
        #editor(data-bind="ace: source, aceOptions: { mode: 'javascript', theme: 'monokai' }")

        %textarea.hidden(data-bind="value: source")

      .console.not_implemented
        %ul.nav.nav-tabs
          %li(data-bind='css: {active: consoleView.logActive()}')
            %a(data-bind='click: consoleView.logMode()') Logs
          %li(data-bind='css: {active: consoleView.referenceActive()}')
            %a(data-bind='click: consoleView.referenceMode()') Reference
        .output(data-bind='text: consoleView.logOutput(), visible: consoleView.logActive()')
        .output(data-bind='text: consoleView.referenceOutput(), visible: consoleView.referenceActive()')

:coffeescript
  Airscript.init()
