= partial :gist_selection

%section.content
  .row-fluid
    .scripts
      %h2.brand Airscript
      %label(data-bind='visible: scriptsPanel.hasGists')
        %h5 Script Description
        %textarea(type='text' data-bind='value: scriptsPanel.activeGistDescription()')
      %h5(data-bind='visible: scriptsPanel.scriptsCount()') Files
      %ul.files(data-bind='foreach: scriptsPanel.activeScripts()')
        %li.script
          %span.script_name(data-bind='click: $parent.scriptsPanel.selectScript, text: name, visible: !editing()')
          %a.edit_script(href='#' data-bind='click: $parent.scriptsPanel.editScript, visible: !editing()') Edit
          %input.edit_script_input(type='text' data-bind='value: name, click: $parent.scriptsPanel.selectScript, visible: editing()')
      %a.new_file(href='#' data-bind='click: scriptsPanel.createNewFile') Create New File

      .btn-group.script_controls
        .btn-toolbar
          .btn(data-toggle="modal" data-target=".gist_modal") Set Target

    .edit.main
      .airscript_background
      .btn.btn-primary.save-script(data-bind='click: saveScript') Save
      .full_url
        .clipboard(data-bind='attr: {"data-clipboard-text": fullScriptPath}')
          = partial :clipboard_svg
        .location(data-bind='text: fullScriptPath')
      .editor_container
        #editor(data-bind="ace: source, aceOptions: { mode: 'lua', theme: 'github' }")

        %textarea.hidden(data-bind="value: source")

:coffeescript
  Airscript.init()
