= partial :gist_selection

%section.content
  .row-fluid
    .scripts
      %h2.brand Airscript
      %label(data-bind='visible: scriptsPanel.hasGists')
        %p.gist-description(type='text' data-bind='text: scriptsPanel.activeGistDescription()')
      %ul.files(data-bind='foreach: scriptsPanel.files()')
        %li.script(data-bind='css: activeClass, click: $parent.scriptsPanel.selectScript')
          %span.script_name(data-bind='text: name')
      %a.new_file.btn(href='#' data-bind='click: scriptsPanel.createNewFile') Create New File
      %a.save_all.btn(href='#' data-bind='click: scriptsPanel.updateGist') Save All

      .btn-group.script_controls
        .btn-toolbar
          .btn(data-toggle="modal" data-target=".gist_modal") Set Target

    .edit.main
      .airscript_background
      .editor_container
        .header
          .file
            %input.edit_script(data-bind='visible: scriptEditing(), selected: true, value: scriptName(), event: { keypress: scriptsPanel.stopEditing }')
            %h3(data-bind='text: scriptName(), visible: !scriptEditing()')
            = partial :edit_svg
            = partial :trash_svg
          .clipboard(data-bind='attr: {"data-clipboard-text": fullScriptPath}')
          = partial :clipboard_svg
          .full_url
            %h4.run_description Run your script
            .location(data-bind='text: fullScriptPath')
        #editor(data-bind="ace: scriptSource(), aceOptions: { mode: 'lua', theme: 'github' }")

        %textarea.hidden(data-bind="value: scriptSource()")

:coffeescript
  Airscript.init()
