= partial :gist_selection

%section.content
  .row-fluid
    .scripts
      %h2.brand Airscript
      %label(data-bind='visible: scriptsView.gists().length')
        %h5 Script Description
        %input(type='text' data-bind='value: scriptsView.activeGist()')
      %h5(data-bind='visible: scriptsView.scripts().length') Files
      %ul.files(data-bind='foreach: scriptsView.scripts')
        %li(data-bind='css: {active: active()}')
          %input(type='text' data-bind='value: name, click: $parent.scriptsView.selectScript')
      %a.new_script.not_implemented(href='#' data-bind='click: scriptsView.createNewScript') Create New Script

      .btn-group.script_controls
        .btn-toolbar.not_implemented
          .btn Environment
        .btn-toolbar
          .btn.save-script(data-bind='click: saveScript') Save
        .btn-toolbar
          .btn(data-toggle="modal" data-target=".gist_modal") Set Target
        .btn-toolbar
          .btn(data-bind='click: scriptsView.saveScripts') Deploy

    .edit.main
      .airscript_background
      .editor_container
        #editor(data-bind="ace: source, aceOptions: { mode: 'javascript', theme: 'monokai' }")

        %textarea.hidden(data-bind="value: source")

      .console.not_implemented
        %ul.nav.nav-tabs
          %li(data-bind='css: {active: consoleView.logActive()}')
            %a(data-bind='click: consoleView.logMode()') Logs
          %li(data-bind='css: {active: consoleView.referenceActive()}')
            %a(data-bind='click: consoleView.referenceMode()') Reference
        .output(data-bind='text: consoleView.logOutput(), visible: consoleView.logActive()')
        .output(data-bind='text: consoleView.referenceOutput(), visible: consoleView.referenceActive()')

:coffeescript
  Airscript.init()
