<!doctype html>
%html
  %head
  %meta{:charset => "utf-8"}
  %title Airscript.io

  = stylesheet_link_tag "bootstrap", "bootstrap-responsive", "normalize", "all"

  = javascript_include_tag "all"

  %body
    = yield
